.nav-bar {
  margin: 20px 0px 20px 0px;
}
.content {
  margin: 0px 35px 0px 35px;
}
table {
  width: 100% !important;
}
.mat-icon {
  font-size: 35px;
}
p {
  margin: 0 0 !important;
}
h2 {
  margin: 0 0 !important;
}
.totalRansom {
  margin-left: 5px !important;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
