<div class="nav-bar">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%">
        <h2>{{ title }}</h2>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="10"
        style="width: 20%"
      ></div>
    </div>
  </mat-card>
</div>
<div
  *ngIf="data$ | async as investments; else loading"
  class="content"
  fxLayout="row"
  fxLayoutAlign="center center"
  @fadeIn
>
  <table mat-table [dataSource]="investments" class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td
        [ngClass]="{
          'row-enabled': element.indicadorCarencia === 'N',
          'row-disabled': element.indicadorCarencia === 'S'
        }"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.nome }}
      </td>
    </ng-container>
    <ng-container matColumnDef="objetivo">
      <th mat-header-cell *matHeaderCellDef>Objetivo</th>
      <td
        [ngClass]="{
          'row-enabled': element.indicadorCarencia === 'N',
          'row-disabled': element.indicadorCarencia === 'S'
        }"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.objetivo }}
      </td>
    </ng-container>
    <ng-container matColumnDef="saldoTotal">
      <th mat-header-cell *matHeaderCellDef>Saldo Total</th>
      <td
        [ngClass]="{
          'row-enabled': element.indicadorCarencia === 'N',
          'row-disabled': element.indicadorCarencia === 'S'
        }"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.saldoTotal | currency }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      disabled=""
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="actionDetail(row)"
      [ngStyle]="{ cursor: row.indicadorCarencia === 'N' ? 'pointer' : 'auto' }"
      [matTooltip]="
        row.indicadorCarencia === 'N'
          ? 'Clique para acessar o Resgate Personalizado'
          : 'Período de carência ativa'
      "
      matTooltipPosition="below"
      matTooltipHideDelay="80"
    ></tr>
  </table>
</div>
<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="center center" class="loading-spinner">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>
