<div class="nav-bar">
  <mat-card fx>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%">
        <mat-card-title>{{ title }}</mat-card-title>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="10"
        style="width: 20%"
      >
        <button mat-raised-button color="accent">Action</button>
        <button mat-raised-button color="accent">Action</button>
      </div>
    </mat-card-header>
  </mat-card>
</div>
<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <div>CONTENT</div>
</div>
