<div fxLayout="row" fxLayoutAlign="center center">
  <h1 mat-dialog-title>{{ data.title }}</h1>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="center center"
  mat-dialog-content
  [innerHtml]="data.content | sanitizeHtml"
></div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  mat-dialog-content
  [innerHtml]="data.content2 | sanitizeHtml"
></div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button mat-dialog-close color="accent">
    {{ data.buttonTitle }}
  </button>
</div>
